.button {
  align-items: center;
  background-color: $primary;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  color: $white;
  justify-content: center;
  padding: 12px;
  text-decoration: none;
  transition: $transition background-color;

  &:hover {
    background-color: darken($primary, 10%);
  }
}

.button__icon {
  margin-right: 6px;
}

.button--secondary {
  background-color: $secondary;
  color: $white;
}

.button--alternate {
  background-color: lighten($secondary, 20%);
  border-radius: 24px;
  font-size: 14px;
  height: 28px;
  padding: 0;
  width: 28px;
}

.button--delete {
  background-color: $warning;
}

.button--link {
  border: none;
  background-color: transparent;
  color: $primary;
  cursor: pointer;
  display: block;
  font-weight: bold;
  margin: 0;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &.button--delete {
    color: $warning;
    background-color: transparent;
  }
}

.button__container {
  align-items: center;
  display: flex;
  margin: 48px 0 60px;
}

.button__container--right {
  display: flex;
  justify-content: flex-end;
}

.button__container--right .button {
  margin-left: 12px;
}
