.button {
  align-items: center;
  background-color: $primary;
  border-radius: 5px;
  display: inline-flex;
  color: $white;
  padding: 12px;
  text-decoration: none;
  transition: $transition background-color;

  &:hover {
    background-color: darken($primary, 10%);
  }
}

.button__icon {
  margin-right: 6px;
}

.button--secondary {
  background-color: $secondary;
  color: $white;
}
