.checkbox__label {
  cursor: pointer;
  padding-left: 24px;
  position: relative;

  &::before {
    background-color: transparent;
    border-radius: 3px;
    border: 2px solid $primary;
    content: "";
    display: block;
    height: 14px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: $transition background-color;
    width: 14px;
  }

  &::after {
    background-image: url("../../assets/icons/check--white.svg");
    background-size: contain;
    content: "";
    opacity: 0;
    position: absolute;
    top: 4px;
    transition: $transition opacity;
    left: 2px;
    width: 11px;
    height: 12px;
  }
}

.checkbox__label--is-checked {
  &::before {
    background-color: $primary;
  }

  &::after {
    opacity: 1;
  }
}
