.filters__container {
  background-color: $light-gray;
  padding: 12px 0;

  @media only screen and (min-width: $breakpoint) {
    padding: 24px 0;
  }
}

.filters__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.filters__list-item {
  margin-bottom: 12px;

  &:last-of-type {
    margin-bottom: 0;
  }
}
