fieldset {
  margin: 0;
  border: none;
  padding: 6px 0;
}

legend {
  display: block;
}

label {
  color: $gray;
  display: block;
  font-size: 0.9rem;
}

input[type="checkbox"] {
  border: 0;
  height: 0;
  left: -100000000px;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  top: -100000000px;
  width: 0;
}

input[type="text"],
input[type="number"],
textarea {
  border-radius: 3px;
  border: 2px solid $gray;
  display: block;
  padding: 6px;
  width: 100%;
}

textarea {
  min-height: 100px;
}
